{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["src/"],
      }
    ]
  ]
}