ul,
li {
  padding: 0;
}

.list {
  li {
    list-style: none;
    display: inline-block;

    &+li {
      margin-left: 10px;
    }
  }

  a {
    color: #666;

    &:hover {
      color: #111;
    }
  }
}
